# data base:
   data base is a collection of tables. tables are combination of rows and column. and it shows us records. when we need partial information from different tables we can easily do it.

s = structured
q = query
l = language
we will use sql3lite for our learning of sql

In [1]:
#import of sql3lite
import sqlite3
#connecting with the database(if there is not database exist it will create one)
db = sqlite3.connect('student_database.db')   #instead of db we can give any name but student_database.db stands for data base .

In [2]:
#just like pointer in our window we have a cursor in our database with the help of this cursor ,it help to tell things or do acivites with different data bases.

In [4]:
#first we have to declare cursor
cursor = db.cursor()   #we can give any name instead of cursor

In [5]:
#then we will have to create a table.
cursor.execute("CREATE TABLE student_data(phone_no INT PRIMARY KEY , email_id TEXT,course_name TEXT,fee_paid INT)")
#primary key is used here so that the same phone no will not occur

In [18]:
cursor.execute("INSERT INTO student_data (phone_no ,email_id , course_name , fee_paid) VALUES ( 7404143308 , 'student@gmail' ,'data science' , 30000)")
#insert records into the table we made


db.commit()
#to save data permanently otherwise data will be saved temporary

print(cursor.rowcount,"record(s) inserted")
#to check if our data is saved or not as a result our data is showing 1 row in ouput means it is saved

1 record(s) inserted

# select query = how to fetch records from table

In [20]:
results = cursor.execute("SELECT * FROM student_data")
for row in results:    # * means all column records
    print(row)         # we can use sql in both upper and lower case here for loop is from python

(9255443308, 'student@gmail', 'data science', 30000)
(7404143308, 'student@gmail', 'data science', 30000)

# multiple record insertion:
    now we dont have to mention column name again and again like above we mention phone_no , gmail etc if we mention one time then we dont need to mention again unless we have to add information of specific column

In [28]:
cursor.execute("INSERT INTO student_data VALUES (8976553522, 'student2@gmail.com' , 'data science' , 250000) , ( 9778453545, 'student3@gmail.com','data science' , 22000)")
  
db.commit()
 
print(cursor.rowcount , "Record(s) inserted")

2 Record(s) inserted

In [29]:
results = cursor.execute("SELECT * FROM student_data")
for row in results:    
    print(row)

(9255443308, 'student@gmail', 'data science', 30000)
(7404143308, 'student@gmail', 'data science', 30000)
(987654321, 'student2@gmail.com', 'data science', 250000)
(9778453512, 'student3@gmail.com', 'data science', 22000)
(8976553522, 'student2@gmail.com', 'data science', 250000)
(9778453545, 'student3@gmail.com', 'data science', 22000)

In [30]:
#integerity error occurs when the same value put in primary key 
# here phone number is our primary key when we add same records(phone no) then it will show integrity error

# how to load data from file into table:

keep your csv file into the same folder where your jupyter notebok is present or provide folder link . we can not open file directly from github

In [31]:
# https://github.com/training-ml/files

In [40]:
with open ('DT_Students.csv','r') as file:    #we have to keep csv file in the same folder where jupyter notebook exist
    no_records = 0                            #if not in same folder we have to give the path of the file. r stands for read
    for row in file:
        cursor.execute("INSERT INTO student_data VALUES( ?,?,?,?)" , row.split(","))
        db.commit()
        no_records += 1

print(no_records , 'Records inserted')

20 Records inserted

In [44]:
results = cursor.execute("SELECT * FROM student_data")
for row in results:
    print(row)

(9255443308, 'student@gmail', 'data science', 30000)
(7404143308, 'student@gmail', 'data science', 30000)
(987654321, 'student2@gmail.com', 'data science', 250000)
(9778453512, 'student3@gmail.com', 'data science', 22000)
(8976553522, 'student2@gmail.com', 'data science', 250000)
(9778453545, 'student3@gmail.com', 'data science', 22000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

when we have data in billion and millions then it will take a lot of time to process and get data to window .i want data for students only enrolled for data science .we have to write some code to fetch the data of only data science students .

In [45]:
#where = like in python we use if conditional statement in sql we use where as a conditional word.

# where-clause:

In [46]:
sql = "SELECT * FROM student_data where course_name = 'data science'"  #use Data science for more reult
result = cursor.execute(sql)
for row in result:
    print(row)

(9255443308, 'student@gmail', 'data science', 30000)
(7404143308, 'student@gmail', 'data science', 30000)
(987654321, 'student2@gmail.com', 'data science', 250000)
(9778453512, 'student3@gmail.com', 'data science', 22000)
(8976553522, 'student2@gmail.com', 'data science', 250000)
(9778453545, 'student3@gmail.com', 'data science', 22000)

In [52]:
#sql = "SELECT * FROM student_id where fee paid >70000"

In [53]:
result = cursor.execute("SELECT * FROM student_data")
for row in result:
    print(row)

(9255443308, 'student@gmail', 'data science', 30000)
(7404143308, 'student@gmail', 'data science', 30000)
(987654321, 'student2@gmail.com', 'data science', 250000)
(9778453512, 'student3@gmail.com', 'data science', 22000)
(8976553522, 'student2@gmail.com', 'data science', 250000)
(9778453545, 'student3@gmail.com', 'data science', 22000)
(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

In [56]:
sql = "SELECT * FROM student_data where fee_paid > 45000"
result = cursor.execute(sql)
for row in result:
    print(row)

(987654321, 'student2@gmail.com', 'data science', 250000)
(8976553522, 'student2@gmail.com', 'data science', 250000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)

In [57]:
# in sql we use only one = sign of is equal to

In [58]:
# to see phone_no and fee_paid

In [63]:
result = cursor.execute("SELECT phone_no , fee_paid From student_data")
for row in result:
    print(row)

(9255443308, 30000)
(7404143308, 30000)
(987654321, 250000)
(9778453512, 22000)
(8976553522, 250000)
(9778453545, 22000)
(9988776604, 38000)
(9988776605, 133000)
(9988776606, 34000)
(9988776607, 33000)
(9988776608, 129000)
(9988776609, 40000)
(9988776610, 32500)
(9988776611, 41500)
(9988776612, 31000)
(9988776613, 23000)
(9988776614, 24000)
(9988776615, 23000)
(9988776616, 122500)
(9988776617, 29000)
(9988776618, 140000)
(9988776619, 32500)
(9988776620, 41500)
(9988776621, 131000)
(9988776622, 23000)
(9988776623, 24000)